<div class="tab homebase container is-fluid" data-group="primary" data-tab="homebase">

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Treasury (gc)</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" name="data.basetreasury" type="text" value="{{data.basetreasury}}"
                        data-dtype="Number" />
                </p>

            </div>

        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Base Resources</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input" name="data.baseresources" type="text" value="{{data.baseresources}}"
                        data-dtype="String" />
                </p>
            </div>
        </div>
    </div>

</div>