{{#if (ne data.category "Base")}}

<div class="columns is-multiline is-variable is-1">

    <div class="column is-half py-1">

        <div class="columns is-variable is-1">

            <div class="column is-5">
                <p class="control">
                    <span class="help">&nbsp;</span>
                    <button class="button is-danger is-outlined is-fullwidth rollable is-capitalized"
                        data-roll="d20+@data.health.value" data-label="{{data.data.health.rollname}}"> <span class="icon">
                            <i class="fas fa-dice-d20"></i>
                        </span>
                        <span>
                            Health
                        </span> </button>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <span class="help">Actual</span>
                    <input class="input" type="text" name="data.health.actual" value="{{data.data.health.actual}}"
                        data-dtype="Number">
                </p>
            </div>
            <div class="column">
                <span class="help">Effective</span>
                <p class="control">
                    <input class="input" type="text" name="data.health.max" value="{{data.data.health.max}}"
                        data-dtype="Number">
                </p>
            </div>
            <div class="column">
                <span class="help">Current</span>
                <p class="control">
                    <input class="input is-danger" type="text" name="data.health.value" value="{{data.data.health.value}}"
                        data-dtype="Number">
                </p>
            </div>

        </div>

    </div>

    {{#each data.data.stats as |stat key|}}
    <div class="column is-half py-1">

        <div class="columns is-variable is-1">

            <div class="column">
                <p class="control is-5">
                    <span class="help">&nbsp;
                </p>
                <button class="button is-info is-outlined is-fullwidth rollable is-capitalized"
                    data-roll="d20+@stats.{{key}}.effective" data-label="{{stat.rollname}}" data-bonus="{{stat.bonus}}">
                    <span class="icon">
                        <i class="fas fa-dice-d20"></i>
                    </span>
                    <span>
                        {{key}}
                    </span>
                </button>
                </p>
            </div>
            <div class="column">
                <p class="control">
                    <span class="help">Actual
                </p>
                <input class="input" type="text" name="data.stats.{{key}}.actual" value="{{stat.actual}}"
                    data-dtype="Number">
                </p>
            </div>
            <div class="column">
                <span class="help">Effective</span>
                <p class="control">
                    <input class="input" type="text" name="data.stats.{{key}}.effective" value="{{stat.effective}}"
                        data-dtype="Number">
                </p>
            </div>
            {{#if (or (eq key "fight") (eq key "shoot"))}}
            <div class="column">
                <span class="help">Dmg. Bonus</span>
                <p class="control">
                    <input class="input" type="text" name="data.stats.{{key}}.bonus" value="{{stat.bonus}}"
                        data-dtype="Number">
                </p>
            </div>
            {{/if}}
        </div>

    </div>
    {{/each}}

</div>

{{/if}}