<div class="columns">

    <div class="column is-3">

        <figure class="image is-square">
            <img class="is-cover" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </figure>
    </div>

    <div class="column">

        <input class="input is-info is-medium" name="name" type="text" value="{{actor.name}}" placeholder="Name" />

        <div class="columns pt-2">

            <div class="column is-6">
                <div class="select is-fullwidth">
                    <select name="data.category" data-dtype="String">
                        {{#select data.data.category}}
                        <option value="Wizard">{{localize Wizard}}</option>
                        <option value="Apprentice">{{localize Apprentice}}</option>
                        <option value="Soldier">{{localize Soldier}}</option>
                        <option value="Creature">{{localize Creature}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="column is-6">
                <div class="select is-fullwidth">
                    <select name="data.class" data-dtype="String">
                        {{#select data.data.class}}
                        {{#if (or (eq data.data.category "Wizard") (eq data.data.category "Apprentice"))}}
                        <option value="Chronomancer">{{localize Chronomancer}}</option>
                        <option value="Elementalist">{{localize Elementalist}}</option>
                        <option value="Enchanter">{{localize Enchanter}}</option>
                        <option value="Illusionist">{{localize Illusionist}}</option>
                        <option value="Necromancer">{{localize Necromancer}}</option>
                        <option value="Sigilist">{{localize Sigilist}}</option>
                        <option value="Soothsayer">{{localize Soothsayer}}</option>
                        <option value="Summoner">{{localize Summoner}}</option>
                        <option value="Thaumaturge">{{localize Thaumaturge}}</option>
                        <option value="Witch">{{localize Witch}}</option>
                        {{/if}}
                        {{#if (eq data.data.category "Soldier")}}
                        <option value="Standard">{{localize Standard}}</option>
                        <option value="Specialist">{{localize Specialist}}</option>
                        {{/if}}
                        {{#if (eq data.data.category "Creature")}}
                        <option value="Uncontrolled">{{localize Uncontrolled}}</option>
                        <option value="Controlled">{{localize Controlled}}</option>
                        {{/if}}
                        {{#if (eq data.data.category "Base")}}
                        <option value="Inn">{{localize Inn}}</option>
                        <option value="Temple">{{localize Temple}}</option>
                        <option value="Crypt">{{localize Crypt}}</option>
                        <option value="Tower">{{localize Tower}}</option>
                        <option value="Treasury">{{localize Treasury}}</option>
                        <option value="Brewery">{{localize Brewery}}</option>
                        <option value="Library">{{localize Library}}</option>
                        <option value="Laboratory">{{localize Laboratory}}</option>
                        {{/if}}
                        {{/select}}
                    </select>
                </div>
            </div>

        </div>
    </div>
</div>