<form class="{{cssClass}}" autocomplete="off">
    {{!-- Actor Header --}}
    {{> "systems/foundryvtt-frostgrave/templates/actor/partials/actor-header.html"}}

    {{!-- Actor Stats --}}
    {{> "systems/foundryvtt-frostgrave/templates/actor/partials/actor-stats.html"}}

    {{!-- Tab Navigation --}}
    {{> "systems/foundryvtt-frostgrave/templates/actor/partials/actor-tab-navigation.html"}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Notes Tab --}}
        {{> "systems/foundryvtt-frostgrave/templates/actor/partials/actor-tab-notes.html"}}

        {{!-- Experience Tab --}}
        {{> "systems/foundryvtt-frostgrave/templates/actor/partials/actor-tab-experience.html"}}

        {{!-- Homebase Tab --}}
        {{> "systems/foundryvtt-frostgrave/templates/actor/partials/actor-tab-homebase.html"}}

        {{!-- Items Tab --}}
        {{> "systems/foundryvtt-frostgrave/templates/actor/partials/actor-tab-items.html"}}

        {{!-- Spells Tab --}}
        {{> "systems/foundryvtt-frostgrave/templates/actor/partials/actor-tab-spells.html"}}

    </section>
</form>