header {
    display: flex !important;
    background-image: none;
    background-color: $accent-color;

    a {
        color: white;
    }

    a:hover {
        color: white;
        text-shadow: 0 0 5px white;
    }
}

.sheet-body,
.sheet-body .tab,
.sheet-body, .editor {
    height: 100%;
}

.tox {
    .tox-editor-container {
        background: white;
    }

    .tox-edit-area {
        padding: 4px 8px;
    }
}

form .notes,
form .hint {
    font-size: 1rem;
    line-height: 1.4rem;
    color: #363636;
}